---
layout: archive
title: "Talks"
permalink: /talks/
author_profile: true
---

{% assign talks = site.talks | sort: 'date' | reverse %}

## Talks

{% for post in talks %}
  {% if post.type == "Talk" %}
    {% include archive-single-talk.html %}
  {% endif %}
{% endfor %}

## Posters

{% for post in talks %}
  {% if post.type == "Poster" %}
    {% include archive-single-talk.html %}
  {% endif %}
{% endfor %}

## Invited Talks

{% for post in talks %}
  {% if post.type == "Invited Talk" %}
    {% include archive-single-talk.html %}
  {% endif %}
{% endfor %}